@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
:root{
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;

}

main{
    display: flex;
    flex-flow: row wrap;
    place-content: space-around;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

body{
    background-image: linear-gradient(to bottom, rgba(102,3,113,1), rgba(4,16,83,1));
    background-attachment: fixed;
    font-family: 'Lexend', sans-serif;
}
h1{
    color: #ffff;
    z-index: 99999;
    height: 5vh;
    margin-top: 70px;
    margin-bottom: 40px;
    font-weight: 900;
    text-align: center;
}

